<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuan.springboottemplate.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.chuan.springboottemplate.pojo.entity.Role">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role,description,
        status,createTime,updateTime
    </sql>

    <select id="SelectRoleByUserAccount" resultType="java.lang.String">
        select role from `role` where id in (select roleId from `user_role` where uid = (select uuid from `user_info` where userAccount = #{userAccount}))
    </select>
</mapper>
