<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuan.springboottemplate.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.chuan.springboottemplate.pojo.entity.UserRole">
            <id property="id" column="id" jdbcType="TINYINT"/>
            <result property="uid" column="uid" jdbcType="VARCHAR"/>
            <result property="roleid" column="roleId" jdbcType="INTEGER"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,roleId,
        createTime,updateTime
    </sql>
</mapper>
